<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Appium Suite">
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>
    <test name="Emulator Device Tests">
        <classes>
            <class name="emulatorProject.CalculatorTest"/>
        </classes>
    </test>
</suite>